{%extends 'base.html'%}
{%block title%}Select Departing Flight{%endblock%}
{%block body%}
    {% include 'components/breadcrumb.html'%}
    <!-- page heading -->
    <h2 class="display-4">Flights from {{matching_flights[0].cityFrom}} to {{matching_flights[0].cityTo}}</h2>
    <p>Depart date: {{matching_flights[0].departDate}}</p>
    <!-- change search button takes you back to the booking form -->
    <a href="{{url_for('index')}}"><img src="../static/media/arrow-return-left.svg"/> Change search</a>

    <!-- loop to display all matching flights -->
    {%for f in matching_flights%}
        <div class="card px-4 py-4 mt-4">
            <div class="row card-body">
                <div class="col-6 col-md-3">
                    <p>{{f.cityFrom}}<br/>
                    {{f.departDate}}<br/>
                    <b>{{f.departTime}}</b></p>
                </div>
                <div class="col-md-3 col-6">
                    <p>{{f.cityTo}}<br/>
                    {{f.arrivalDate}}<br/>
                    <b>{{f.arrivalTime}}</b></p>
                </div>
                <div class="col-6 col-md-3">
                    <p>Flight ID: {{f.num}}<br/>
                    {{f.duration}}<br/>
                    <b>{{f.fclass}}, ${{f.price}}</b></p>
                </div>
                <div class="col-6 col-md-3 align-self-center">
                    <a href='/save_flight/{{f.num}}' class="btn btn-outline-primary w-100 py-3"><b>SELECT</b></a>
                </div>
            </div>
        </div>
    {%endfor%}
    
{%endblock%}