{%extends 'base.html'%}
{%block title%}Admin Login{%endblock%}
{%block body%}
    <form method="post">
        <h2 class="display-5">Admin Login</h2>
        <label for="username" class="form-label mt-3">Username:</label>
        <input type="text" name="username" class="form-control mb-3"/>
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control mb-3"/>
        <button type="submit" class="btn btn-outline-danger mb-3">Login</button>
    </form>
    <a href="{{url_for('create')}}">Create account instead</a>
{%endblock%}